# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [1]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [2]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

In [3]:
df_ipl.head()

,match_code,date,city,venue,team1,team2,toss_winner,toss_decision,winner,win_type,...,batsman,non_striker,bowler,runs,extras,total,extras_type,player_out,wicket_kind,wicket_fielders
0,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,ST Jayasuriya,SR Tendulkar,I Sharma,0,1,1,wides,NaN,NaN,NaN
1,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,ST Jayasuriya,SR Tendulkar,I Sharma,1,0,1,NaN,NaN,NaN,NaN
2,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,SR Tendulkar,ST Jayasuriya,I Sharma,0,1,1,wides,NaN,NaN,NaN
3,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,SR Tendulkar,ST Jayasuriya,I Sharma,0,0,0,NaN,NaN,NaN,NaN
4,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,...,SR Tendulkar,ST Jayasuriya,I Sharma,2,0,2,NaN,NaN,NaN,NaN

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [4]:
# Corrected as Venues to Cities
df_ipl['city'].unique()

array(['East London', 'Port Elizabeth', 'Centurion', 'neutral_venue',
       'Chennai', 'Jaipur', 'Kolkata', 'Delhi', 'Chandigarh', 'Hyderabad',
       'Ranchi', 'Mumbai', 'Bangalore', 'Dharamsala', 'Pune', 'Rajkot',
       'Durban', 'Cuttack', 'Cape Town', 'Ahmedabad', 'Johannesburg',
       'Visakhapatnam', 'Abu Dhabi', 'Raipur', 'Kochi', 'Kimberley',
       'Nagpur', 'Bloemfontein', 'Indore', 'Kanpur'], dtype=object)

### Find the columns which contains null values if any ?

In [5]:
df_ipl.columns[df_ipl.isnull().any()]

Index(['winner', 'win_type', 'win_margin', 'extras_type', 'player_out',
       'wicket_kind', 'wicket_fielders'],
      dtype='object')

In [6]:
df_ipl.isnull().sum()[df_ipl.isnull().sum()>0].index

Index(['winner', 'win_type', 'win_margin', 'extras_type', 'player_out',
       'wicket_kind', 'wicket_fielders'],
      dtype='object')

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [7]:
df_ipl.groupby('venue')['match_code'].nunique().sort_values(ascending = False).head()

venue
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: match_code, dtype: int64

In [8]:

df_ipl['venue'].value_counts().head()

M Chinnaswamy Stadium              13368
Eden Gardens                       12578
Feroz Shah Kotla                   12274
MA Chidambaram Stadium, Chepauk    11751
Wankhede Stadium                   11688
Name: venue, dtype: int64

### Make a runs vs run-count frequency table

In [9]:
import matplotlib.pyplot as plt
df_ipl['runs'].hist()
plt.xlabel('runs')
plt.ylabel('runs-counts')
plt.show()

In [10]:
df_ipl['runs'].value_counts()

0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [11]:
df_ipl['date'] = pd.to_datetime(df_ipl['date'])
year = df_ipl['date'].dt.year
len(year.value_counts().index)

9

### What are the total no. of matches played per season

In [12]:
df_ipl.groupby(year)['match_code'].nunique()

date
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [13]:
df_ipl.groupby(year)['total'].sum()

date
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [122]:
df_ipl.groupby(['match_code','inning','batting_team'])['total'].sum().sort_values(ascending  = False).reset_index().drop(['inning','match_code'], axis = 1).head(15)

                   batting_team  total
0   Royal Challengers Bangalore    263
1   Royal Challengers Bangalore    248
2           Chennai Super Kings    246
3           Chennai Super Kings    240
4   Royal Challengers Bangalore    235
5               Kings XI Punjab    232
6               Kings XI Punjab    231
7              Delhi Daredevils    231
8   Royal Challengers Bangalore    227
9               Kings XI Punjab    226
10  Royal Challengers Bangalore    226
11          Chennai Super Kings    223
12             Rajasthan Royals    223
13        Kolkata Knight Riders    222
14          Chennai Super Kings    222

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [16]:
a.head()

,match_code,inning,batting_team,winner,total
0,335982,1,Kolkata Knight Riders,Kolkata Knight Riders,222
1,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,335983,1,Chennai Super Kings,Chennai Super Kings,240
3,335983,2,Kings XI Punjab,Chennai Super Kings,207
4,335984,1,Rajasthan Royals,Delhi Daredevils,129

In [32]:
a = df_ipl.groupby(['match_code','inning','batting_team','winner'])['total'].sum().reset_index()
b = a[a['total'] > 200]
c = b[(b['inning'] == 1) & (b['batting_team'] != b['winner'])].reset_index().drop(['index'], axis=1)
d = b[(b['inning'] == 1) & (b['batting_team'] == b['winner'])].reset_index().drop(['index'], axis=1)
len(c)/(len(c) + len(d)) * 100

12.82051282051282

In [2]:
#first inning's team can score 199 and second innings team can score 203 and win

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [126]:
# for i in df_ipl.columns:
#     print(i)
# #     print("-")

In [16]:
unique_matches = df_ipl.drop_duplicates(subset = 'match_code')
unique_matches.groupby('year')['winner'].value_counts()

year  winner
2008  Rajasthan Royals               13
      Kings XI Punjab                10
      Chennai Super Kings             9
      Delhi Daredevils                7
      Mumbai Indians                  7
      Kolkata Knight Riders           6
      Royal Challengers Bangalore     4
      Deccan Chargers                 2
2009  Delhi Daredevils               10
      Deccan Chargers                 9
      Royal Challengers Bangalore     9
      Chennai Super Kings             8
      Kings XI Punjab                 7
      Mumbai Indians                  5
      Rajasthan Royals                5
      Kolkata Knight Riders           3
2010  Mumbai Indians                 11
      Chennai Super Kings             9
      Deccan Chargers                 8
      Royal Challengers Bangalore     8
      Delhi Daredevils                7
      Kolkata Knight Riders           7
      Rajasthan Royals                6
      Kings XI Punjab                 3
2011  Chennai Super Kings            11
      Mumbai Indians                 10
      Royal Challengers Bangalore    10
      Kolkata Knight Riders           8
      Kings XI Punjab                 7
      Deccan Chargers                 6
                                     ..
2013  Sunrisers Hyderabad             9
      Kings XI Punjab                 8
      Royal Challengers Bangalore     8
      Kolkata Knight Riders           6
      Pune Warriors                   4
      Delhi Daredevils                3
2014  Kings XI Punjab                12
      Kolkata Knight Riders          11
      Chennai Super Kings            10
      Mumbai Indians                  7
      Rajasthan Royals                6
      Sunrisers Hyderabad             6
      Royal Challengers Bangalore     5
      Delhi Daredevils                2
2015  Chennai Super Kings            10
      Mumbai Indians                 10
      Royal Challengers Bangalore     8
      Kolkata Knight Riders           7
      Rajasthan Royals                7
      Sunrisers Hyderabad             7
      Delhi Daredevils                5
      Kings XI Punjab                 2
2016  Sunrisers Hyderabad            11
      Gujarat Lions                   9
      Royal Challengers Bangalore     9
      Kolkata Knight Riders           8
      Delhi Daredevils                7
      Mumbai Indians                  7
      Rising Pune Supergiants         5
      Kings XI Punjab                 4
Name: winner, Length: 76, dtype: int64

In [15]:
df_ipl['date'] = pd.to_datetime(df_ipl['date'])
year = df_ipl['date'].dt.year
df_ipl['year'] = list(year)
x = df_ipl.drop(['date'], axis = 1 )
y = x.groupby(['year','match_code','inning'])['winner'].value_counts()#.reset_index(drop = False)y[y['match_code']].unique()

#pd.unique(y['match_code'])

#.sum(skipna = False).reset_index()

#df_ipl.groupby(year)['total'].sum(skipna = False).reset_index()

#a = df_ipl.groupby(['date','match_code','winner'])['total'].sum(skipna = False).reset_index()

#.drop(['match_code','total'], axis = 1)
#pd.value_counts(a['winner'])

In [15]:
df_ipl.shape

(136522, 24)