# Investigate a TMDb movie Database

## Introduction

In this project we will be investigating a TMDb movies database file which has collection of important details of about 10k+ movies, including their details of budget, revenue, release dates, etc.

Let's take a glimpse at TMDb movie database csv file...

In [5]:
import pandas as pd

#reading tmdb csv file and storing that to a variable
glimpse_tmdb = pd.read_csv('data.csv')

#calling out first 5 rows (excluding headers) of tmdb database
glimpse_tmdb.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

### What can we say about the dataset provided?
<ul>
    <li>The columns *'budget', 'revenue', 'budget_adj', 'revenue_adj'* has not given us the currency but for this dataset we will assume that it is in dollars.</li>
    <li>The vote count for each movie is not similar, for example, the movie *'Mad Max : Fury Road'* has *6k+* votes while *Sinister 2* has only *331 votes* (as seen above). Since the votes of the movies vary so much the *vote_average* column also is effected by it. So we cannot calculate or assume that movie with highest votes or rating was more successful since the voters of each film vary.</li>
</ul>  

### What Questions can be brainstormed?
Looking at this database...
<ul>
<li>The first question comes in my mind is which movie gained the most profit or we can also kind of say that which movie has been the people's favourite?</li>

<li>Since this is just the glimpse of the database, the glimpse of the data just shows the movies in the year 2015, but there are also other movies released in different years so the Second question comes in my mind is in which year the movies made the most profit?</li>

<li>Finally my curious mind wanted to know what are the similar characteristics of movies which have gained highest profits?</li>
</ul>


### Questions to be Answered
<ol>
    <li>General questions about the dataset.</li>
        <ol type = 'a'>
            <li>Which movie earns the most and least profit?</li>
            <li>Which movie had the greatest and least runtime?</li>
            <li>Which movie had the greatest and least budget?</li>
            <li>Which movie had the greatest and least revenue?</li>
            <li>What is the average runtime of all movies?</li>
            <li>In which year we had the most movies making profits?</li>
        </ol>
    <li>What are the similar characteristics does the most profitable movie have?</li>
        <ol type = 'a'>
            <li>Average duration of movies.</li>
            <li>Average Budget.</li>
            <li>Average revenue.</li>
            <li>Average profits.</li>
            <li>Which director directed most films?</li>
            <li>Whcih cast has appeared the most?</li>
            <li>Which genre were more successful?</li>
        </ol>
</ol>


-----


## Data Cleaning

**Before answering the above questions we need a clean dataset which has columns and rows we need for calculations.**

First, lets clean up the columns.
We will only keep the columns we need and remove the rest of them.

Columns to delete -  `id, imdb_id, popularity, budget_adj, revenue_adj, homepage, keywords, overview, production_companies, vote_count and vote_average.`

**We have already cleaned the dataset for you**

In [6]:
#importing all the nescessory libraries we need for our analysis
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

#this variable will store the database of tmdb movies into a dataframe
movie_data = pd.read_csv('movie_data_clean.csv')
movie_data.head(3)

,budget_(in_US-Dollars),revenue_(in_US-Dollars),profit_(in_US_Dollars),original_title,cast,director,tagline,runtime,genres,release_date,release_year
0,150000000,1513528810,1363528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,2015
1,150000000,378436354,228436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,2015
2,110000000,295238201,185238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,119,Adventure|Science Fiction|Thriller,2015-03-18,2015

In [7]:
movie_data.shape

(3854, 11)

In [4]:
movie_data[['original_title','profit_(in_US_Dollars)']].set_index('original_title').shape

(3854, 1)

In [5]:
'''
a = set(movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title').min())
for i in range(len(movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title'))):
    if movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title')[movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title') == a]:
        print('hi')'''

"\na = set(movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title').min())\nfor i in range(len(movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title'))):\n    if movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title')[movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title') == a]:\n        print('hi')"

In [6]:
#a = movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title')
#pd.value_counts(a['revenue_(in_US-Dollars)'].astype(int) == 2)

In [7]:

#for i in range(len(movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title'))):
 #   movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title').min()

In [8]:
#a = movie_data[['original_title','revenue_(in_US-Dollars)']].set_index('original_title').min().tolist()[0]
#movie_data[movie_data['revenue_(in_US-Dollars)'] == a]
#a = movie_data[['original_title','profit_(in_US_Dollars)']].set_index('original_title')
#c = a[a.values > 0].min().tolist()[0]
#movie_data[movie_data['profit_(in_US_Dollars)'] == c][['original_title','profit_(in_US_Dollars)']]

In [9]:
def maxmin(col):
    b = movie_data[['original_title',col]].set_index('original_title').max().tolist()[0]
    print('MOVIE WITH MAX',col,'IS:\n')
    print(movie_data[movie_data[col] == b][['original_title',col]].set_index('original_title'),' \n-------------------  ')
    a = movie_data[['original_title',col]].set_index('original_title')
    c = a[a.values > 0].min().tolist()[0]
    print('MOVIE WITH MIN',col,' IS:\n')
    print(movie_data[movie_data[col] == c][['original_title',col]])
    #print('Max value is',movie_data[['original_title',col]].set_index('original_title').idxmax().values.tolist()[0])
    #print('Min value is',movie_data[['original_title',col]].set_index('original_title').idxmin().values.tolist()[0])

**Now let's dig deep and answer the questions!**

### Q1. 1A Which movie earns the most and least profit?

In [10]:
maxmin('profit_(in_US_Dollars)')

MOVIE WITH MAX profit_(in_US_Dollars) IS:

                profit_(in_US_Dollars)
original_title
Avatar                      2544505847
-------------------
MOVIE WITH MIN profit_(in_US_Dollars)  IS:

     original_title  profit_(in_US_Dollars)
2028   Hross ÃƒÂ­ oss                       1

### 1B Which movie had the greatest and least runtime?

In [11]:
maxmin('runtime')

MOVIE WITH MAX runtime IS:

                runtime
original_title
Carlos              338
-------------------
MOVIE WITH MIN runtime  IS:

     original_title  runtime
1758    Kid's Story       15

### 1C Which movie had the greatest and least budget?

In [12]:
maxmin('budget_(in_US-Dollars)')

MOVIE WITH MAX budget_(in_US-Dollars) IS:

                   budget_(in_US-Dollars)
original_title
The Warrior's Way               425000000
-------------------
MOVIE WITH MIN budget_(in_US-Dollars)  IS:

               original_title  budget_(in_US-Dollars)
810              Lost & Found                       1
1251  Love, Wedding, Marriage                       1

### 1D Which movie had the greatest and least revenue?

In [13]:
maxmin('revenue_(in_US-Dollars)')

MOVIE WITH MAX revenue_(in_US-Dollars) IS:

                revenue_(in_US-Dollars)
original_title
Avatar                       2781505847
-------------------
MOVIE WITH MIN revenue_(in_US-Dollars)  IS:

       original_title  revenue_(in_US-Dollars)
1732  Shattered Glass                        2
2897         Mallrats                        2

### 1E What is the average runtime of all movies?

In [14]:
movie_data['runtime'].mean()

109.22029060716139

### 1F In which year we had the most movies making profits?

In [15]:
#movie_data['profit_(in_US_Dollars)'] = movie_data[movie_data['profit_(in_US_Dollars)'] > 0]

In [16]:
#movie_data.groupby('release_year')['profit_(in_US_Dollars)'].sum()#.filter(lambda x: x > 0)

In [17]:
#movie_data['profit_(in_US_Dollars)'] = movie_data[movie_data['profit_(in_US_Dollars)'] > 0]
#a = movie_data.groupby('release_year')['profit_(in_US_Dollars)']
#a[a['profit_(in_US_Dollars)'] > 0]

In [18]:
movie = movie_data[movie_data['profit_(in_US_Dollars)'] > 0]
pd.value_counts(movie_data['release_year']).head(1)

2011    199
Name: release_year, dtype: int64

In [19]:
movie_data.shape

(3854, 11)

In [20]:
movie.shape

(2778, 11)

### Q2. 2A Average runtime of movies

In [21]:
movie_data['runtime'].mean()

109.22029060716139

### 2B Average Budget of Movies

In [22]:
movie_data['budget_(in_US-Dollars)'].mean()

37203696.954852104

### 2C Average Revenue of Movies

In [23]:
movie_data['revenue_(in_US-Dollars)'].mean()

107686616.09807992

### 2D Average Profit of Movies

In [24]:
movie['profit_(in_US_Dollars)'].mean()

103244454.42584594

### 2E Which directer directed most films?

In [8]:
pd.value_counts(movie_data['director']).head(1)

Steven Spielberg    27
Name: director, dtype: int64

### 2F Which cast has appeared the most?

In [27]:
a = movie_data['cast'].str.cat(sep='|').split('|')
b = pd.Series(a)
pd.value_counts(b).sort_values(ascending = False).head(1)
#pd.DataFrame.from_dict(a, orient = 'index')

Robert De Niro    52
dtype: int64

### 2G Which genre were more successful?

In [40]:
movie_data.groupby('genres')['profit_(in_US_Dollars)'].sum()

genres
Action                                                 1108505513
Action|Adventure                                        161160439
Action|Adventure|Animation|Family|Fantasy               424987477
Action|Adventure|Animation|Family|Science Fiction       539442092
Action|Adventure|Animation|Science Fiction                1731128
Action|Adventure|Animation|Science Fiction|Thriller      18428063
Action|Adventure|Comedy                                 227434058
Action|Adventure|Comedy|Crime                           209167176
Action|Adventure|Comedy|Crime|Drama                     158701578
Action|Adventure|Comedy|Crime|Thriller                  365612056
Action|Adventure|Comedy|Drama                            15754284
Action|Adventure|Comedy|Drama|Family                     49141030
Action|Adventure|Comedy|Drama|Mystery                   -10730514
Action|Adventure|Comedy|Drama|Science Fiction            35479424
Action|Adventure|Comedy|Drama|Western                    98033791
Action|Adventure|Comedy|Family                          281803333
Action|Adventure|Comedy|Family|Fantasy                  435764499
Action|Adventure|Comedy|Family|Science Fiction          159011982
Action|Adventure|Comedy|Family|Thriller                   -906293
Action|Adventure|Comedy|Romance                         242345438
Action|Adventure|Comedy|Science Fiction                 902106419
Action|Adventure|Comedy|Thriller                         -5772510
Action|Adventure|Comedy|Thriller|Crime                  -43279825
Action|Adventure|Comedy|Western                          38323487
Action|Adventure|Crime                                  628184356
Action|Adventure|Crime|Drama                             11480851
Action|Adventure|Crime|Drama|Fantasy                     -3189887
Action|Adventure|Crime|Drama|Mystery                     -5452319
Action|Adventure|Crime|Drama|Romance                     -7505520
Action|Adventure|Crime|Drama|Thriller                   -23276567
                                                          ...
Thriller|Science Fiction|Action|Crime                    74646581
Thriller|Science Fiction|Adventure|Action               -74010360
Thriller|Science Fiction|Drama                           -7919749
Thriller|Science Fiction|Drama|Mystery                    3039258
Thriller|Science Fiction|Mystery                        328244590
Thriller|Science Fiction|Mystery|Romance                -23467223
War                                                      35804635
War|Action                                              521636941
War|Action|Thriller|Science Fiction                     -20193217
War|Adventure|Drama                                     322409852
War|Adventure|Drama|Romance                             -25117355
War|Adventure|Science Fiction                           490523427
War|Crime|Drama|Mystery|Romance                         -26085092
War|Drama                                               -15045935
War|Drama|Action                                        143817906
War|Drama|History                                        -3799460
War|Drama|History|Action                                 84984035
War|Drama|Romance                                         4278575
War|History|Action|Adventure|Drama                       12298192
Western                                                 216269960
Western|Action                                           -1700000
Western|Action|Adventure|Drama                           35000000
Western|Adventure                                         8103450
Western|Animation|Adventure|Comedy|Family                42563539
Western|Animation|Family|Comedy|Music                    -6048539
Western|Drama                                           -30373704
Western|Drama|Adventure|Thriller                        397950503
Western|History                                           5795189
Western|History|War                                    -119180039
Western|Thriller                                         -6993853
Name: profit_(in_US_Dollars), Length: 1053, dtype: int64

In [31]:
movie_data

,budget_(in_US-Dollars),revenue_(in_US-Dollars),profit_(in_US_Dollars),original_title,cast,director,tagline,runtime,genres,release_date,release_year
0,150000000,1513528810,1363528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,124,Action|Adventure|Science Fiction|Thriller,2015-06-09,2015
1,150000000,378436354,228436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,120,Action|Adventure|Science Fiction|Thriller,2015-05-13,2015
2,110000000,295238201,185238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,119,Adventure|Science Fiction|Thriller,2015-03-18,2015
3,200000000,2068178225,1868178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,136,Action|Adventure|Science Fiction|Fantasy,2015-12-15,2015
4,190000000,1506249360,1316249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,137,Action|Crime|Thriller,2015-04-01,2015
5,135000000,532950503,397950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃƒÂ¡lez IÃƒÂ±ÃƒÂ¡rritu,"(n. One who has returned, as if from the dead.)",156,Western|Drama|Adventure|Thriller,2015-12-25,2015
6,155000000,440603537,285603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,125,Science Fiction|Action|Thriller|Adventure,2015-06-23,2015
7,108000000,595380321,487380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,141,Drama|Adventure|Science Fiction,2015-09-30,2015
8,74000000,1156730962,1082730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses",91,Family|Animation|Adventure|Comedy,2015-06-17,2015
9,175000000,853708609,678708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,94,Comedy|Animation|Family,2015-06-09,2015
10,245000000,880674609,635674609,Spectre,Daniel Craig|Christoph Waltz|LÃƒÂ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,148,Action|Adventure|Crime,2015-10-26,2015
11,176000003,183987723,7987720,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,124,Science Fiction|Fantasy|Action|Adventure,2015-02-04,2015
12,15000000,36869414,21869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,108,Drama|Science Fiction,2015-01-21,2015
13,88000000,243637091,155637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,105,Action|Comedy|Science Fiction,2015-07-16,2015
14,280000000,1405035767,1125035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,141,Action|Adventure|Science Fiction,2015-04-22,2015
15,44000000,155760117,111760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,167,Crime|Drama|Mystery|Western,2015-12-25,2015
16,48000000,325771424,277771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,109,Crime|Action|Thriller,2015-01-01,2015
17,130000000,518602163,388602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,115,Science Fiction|Action|Adventure,2015-07-14,2015
18,95000000,542351353,447351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,112,Romance|Fantasy|Family|Drama,2015-03-12,2015
19,160000000,650523427,490523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,136,War|Adventure|Science Fiction,2015-11-18,2015
20,190000000,209035668,19035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,130,Action|Family|Science Fiction|Adventure|Mystery,2015-05-19,2015
21,30000000,91709827,61709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,123,Action|Drama,2015-06-15,2015
22,110000000,470490832,360490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",114,Action|Drama|Thriller,2015-05-27,2015
23,40000000,569651467,529651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,Sam Taylor-Johnson,Are you curious?,125,Drama|Romance,2015-02-11,2015
24,28000000,133346506,105346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,130,Comedy|Drama,2015-12-11,2015
25,150000000,682330139,532330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,131,Action,2015-07-23,2015
26,68000000,215863606,147863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",115,Comedy,2015-06-25,2015
27,81000000,403802136,322802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,Matthew Vaughn,Manners maketh man.,130,Crime|Comedy|Action|Adventure,2015-01-24,2015
28,20000000,88346473,68346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,128,Drama|Thriller|History,2015-11-06,2015
29,61000000,311256926,250256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,132,Action|Science Fiction|Thriller,2015-09-09,2015
...,...,...,...,...,...,...,...,...,...,...,...
3824,8200000,163214286,155014286,The Sound of Music,Julie Andrews|Christopher Plummer|Eleanor Park...,Robert Wise,The happiest sound in all the world!,174,Drama|Family|Music|Romance,1965-03-02,1965
3825,14000000,111721910,97721910,Doctor Zhivago,Omar Sharif|Julie Christie|Geraldine Chaplin|R...,David Lean,Turbulent were the times and fiery was the lov...,197,Drama|Romance|War,1965-12-22,1965
3826,5600000,29950000,24350000,Those Magnificent Men in Their Flying Machines...,Stuart Whitman|Sarah Miles|James Fox|Alberto S...,Ken Annakin,or How I Flew from London to Paris in 25 hours...,138,Action|Adventure|Comedy,1965-06-03,1965
3827,20000000,12000000,-8000000,The Greatest Story Ever Told,Max von Sydow|Michael Anderson Jr.|Carroll Bak...,George Stevens,NaN,199,Drama|History,1965-02-15,1965
3828,7000000,81974493,74974493,On Her Majesty's Secret Service,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,Peter R. Hunt,Far up! Far out! Far more! James Bond 007 is b...,142,Adventure|Action|Thriller,1969-12-12,1969
3829,6000000,102308889,96308889,Butch Cassidy and the Sundance Kid,Paul Newman|Robert Redford|Katharine Ross|Stro...,George Roy Hill,"Not that it matters, but most of it is true.",110,History|Drama|Western|Crime,1969-09-23,1969
3830,3600000,44785053,41185053,Midnight Cowboy,Dustin Hoffman|Jon Voight|Sylvia Miles|John Mc...,John Schlesinger,Whatever you hear about Midnight Cowboy is true.,113,Drama,1969-05-25,1969
3831,6244087,638641,-5605446,The Wild Bunch,Ernest Borgnine|William Holden|Robert Ryan|Edm...,Sam Peckinpah,If you only want to spend two hours in a movie...,145,Adventure|Western,1969-06-17,1969
3832,6000000,181813770,175813770,Grease,John Travolta|Olivia Newton-John|Stockard Chan...,Randal Kleiser,Grease is the word,110,Music,1978-07-07,1978
3833,20000000,187884007,167884007,Jaws 2,Roy Scheider|Lorraine Gary|Murray Hamilton|Jos...,Jeannot Szwarc,Just when you thought it was safe to go back i...,116,Horror|Thriller,1978-06-16,1978
3834,650000,55000000,54350000,Dawn of the Dead,David Emge|Ken Foree|Scott H. Reiniger|Gaylen ...,George A. Romero,"When there's no more room in hell, the dead wi...",127,Horror,1978-09-02,1978
3835,55000000,300218018,245218018,Superman,Marlon Brando|Gene Hackman|Christopher Reeve|N...,Richard Donner,You'll Believe a Man Can Fly!,143,Adventure|Fantasy|Action|Science Fiction,1978-12-14,1978
3836,300000,70000000,69700000,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,John Carpenter,The Night HE Came Home!,91,Horror|Thriller,1978-10-25,1978
3837,2700000,141000000,138300000,Animal House,John Belushi|Tim Matheson|John Vernon|Verna Bl...,John Landis,It was the Deltas against the rules... the rul...,109,Comedy,1978-07-27,1978
3838,15000000,50000000,35000000,The Deer Hunter,Robert De Niro|John Cazale|John Savage|Christo...,Michael Cimino,One of the most important and powerful films o...,183,Drama|War,1978-12-08,1978
3839,2300000,35000000,32700000,Midnight Express,Brad Davis|Irene Miracle|Bo Hopkins|Randy Quai...,Alan Parker,Walk into the incredible true experience of Bi...,121,Drama|Crime,1978-10-06,1978
3840,4000000,30471420,26471420,The Lord of the Rings,Christopher Guard|William Squire|Michael Schol...,Ralph Bakshi,Fantasy...beyond your imagination,132,Drama|Animation|Adventure,1978-11-15,1978
3841,7920000,14560084,6640084,Death on the Nile,Peter Ustinov|Mia Farrow|Simon MacCorkindale|L...,John Guillermin,A murderer strikes on board the luxury Nile st...,140,Mystery,1978-10-06,1978
3842,11,11,0,F.I.S.T.,Sylvester Stallone|Rod Steiger|Peter Boyle|Mel...,Norman Jewison,NaN,145,Drama|Action,1978-04-26,1978
3843,5000000,7230000,2230000,Force 10 from Navarone,Harrison Ford|Robert Shaw|Barbara Bach|Edward ...,Guy Hamilton,NaN,118,Action|Adventure|War|Thriller,1978-11-01,1978
3844,12000000,22765081,10765081,Convoy,Kris Kristofferson|Ali MacGraw|Ernest Borgnine...,Sam Peckinpah,Kristofferson and MacGraw...ain't nothin' gonn...,110,Action|Comedy|Drama,1978-06-27,1978
3845,3500000,24046533,20546533,Invasion of the Body Snatchers,Donald Sutherland|Brooke Adams|Leonard Nimoy|V...,Philip Kaufman,From deep space... The seed is planted... the ...,115,Horror|Thriller|Science Fiction|Mystery,1978-12-19,1978
3846,24000000,21049053,-2950947,The Wiz,Diana Ross|Michael Jackson|Nipsey Russell|Ted ...,Sidney Lumet,From the book that's an American traditionÃ¢â‚¬Â¦ ...,134,Adventure|Family|Fantasy|Music|Science Fiction,1978-10-24,1978
3847,6800000,26518355,19718355,Damien: Omen II,William Holden|Lee Grant|Jonathan Scott-Taylor...,Don Taylor|Mike Hodges,The first time was only a warning.,107,Action|Drama|Horror|Thriller,1978-06-09,1978
3848,1000000,3713768,2713768,Watership Down,John Hurt|Richard Briers|Michael Graham Cox|Jo...,Martin Rosen,"All the world will be your enemy, Prince with ...",88,Adventure|Animation|Drama,1978-10-14,1978
3849,7500000,33736689,26236689,Who's Afraid of Virginia Woolf?,Elizabeth Taylor|Richard Burton|George Segal|S...,Mike Nichols,You are cordially invited to George and Martha...,131,Drama,1966-06-21,1966
3850,3000000,13000000,10000000,Torn Curtain,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃƒÂ¶...,Alfred Hitchcock,It tears you apart with suspense!,128,Mystery|Thriller,1966-07-13,1966
3851,4653000,6000000,1347000,El Dorado,John Wayne|Robert Mitchum|James Caan|Charlene ...,Howard Hawks,It's the Big One with the Big Two,120,Action|Western,1966-12-17,1966
3852,12000000,20000000,8000000,The Sand Pebbles,Steve McQueen|Richard Attenborough|Richard Cre...,Robert Wise,This is the heroic story of the men on the U.S...,182,Action|Adventure|Drama|War|Romance,1966-12-20,1966
3853,5115000,12000000,6885000,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,Richard Fleischer,A Fantastic and Spectacular Voyage... Through ...,100,Adventure|Science Fiction,1966-08-24,1966

In [6]:
#filter  iteration